<a href="https://colab.research.google.com/github/anferben/DataGalaxy/blob/main/app.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install dash==1.17.0

In [2]:
import os
import dash
import dash_core_components as dcc
import dash_html_components as html
import plotly.express as px
import pandas as pd

In [3]:
external_stylesheets = ['https://codepen.io/chriddyp/pen/bWLwgP.css']
app = dash.Dash(__name__, external_stylesheets=external_stylesheets)
server = app.server

In [17]:
df = pd.read_csv('https://raw.githubusercontent.com/anferben/DataGalaxy/main/netflix_titles.csv')

In [18]:
df.columns

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')

In [19]:
data_set = df[['show_id', 'type', 'country', 'date_added', 'duration', 'rating']]
print(data_set.shape)
data_set.head()

(6234, 6)

    show_id     type  ...  duration    rating
0  81145628    Movie  ...    90 min     TV-PG
1  80117401    Movie  ...    94 min     TV-MA
2  70234439  TV Show  ...  1 Season  TV-Y7-FV
3  80058654  TV Show  ...  1 Season     TV-Y7
4  80125979    Movie  ...    99 min     TV-14

[5 rows x 6 columns]

In [20]:
movies = data_set[data_set['type']=='Movie'].dropna()
print(movies.shape)
movies.head()

(4066, 6)

    show_id   type  ... duration rating
0  81145628  Movie  ...   90 min  TV-PG
1  80117401  Movie  ...   94 min  TV-MA
4  80125979  Movie  ...   99 min  TV-14
6  70304989  Movie  ...  110 min      R
7  80164077  Movie  ...   60 min  TV-MA

[5 rows x 6 columns]

In [21]:
print(movies['rating'].unique())
movies['rating'].value_counts()

['TV-PG' 'TV-MA' 'TV-14' 'R' 'NR' 'PG-13' 'PG' 'TV-Y7' 'TV-G' 'TV-Y' 'G'
 'UR' 'TV-Y7-FV' 'NC-17']

TV-MA       1278
TV-14        996
R            505
TV-PG        411
PG-13        282
NR           202
PG           181
TV-G          73
TV-Y7         49
G             35
TV-Y          25
TV-Y7-FV      20
UR             7
NC-17          2
Name: rating, dtype: int64

In [22]:
length = movies['duration'].str.split(' ', expand=True)
length.head()

     0    1
0   90  min
1   94  min
4   99  min
6  110  min
7   60  min

In [23]:
movies['duration'] = length[0]
print(movies.head())
movies.info()

    show_id   type  ... duration rating
0  81145628  Movie  ...       90  TV-PG
1  80117401  Movie  ...       94  TV-MA
4  80125979  Movie  ...       99  TV-14
6  70304989  Movie  ...      110      R
7  80164077  Movie  ...       60  TV-MA

[5 rows x 6 columns]
<class 'pandas.core.frame.DataFrame'>
Int64Index: 4066 entries, 0 to 5580
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   show_id     4066 non-null   int64
 1   type        4066 non-null   object
 2   country     4066 non-null   object
 3   date_added  4066 non-null   object
 4   duration    4066 non-null   object
 5   rating      4066 non-null   object
dtypes: int64(1), object(5)
memory usage: 222.4+ KB

In [24]:
movies['duration'] = movies['duration'].astype('int')
movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4066 entries, 0 to 5580
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   show_id     4066 non-null   int64
 1   type        4066 non-null   object
 2   country     4066 non-null   object
 3   date_added  4066 non-null   object
 4   duration    4066 non-null   int64
 5   rating      4066 non-null   object
dtypes: int64(2), object(4)
memory usage: 222.4+ KB

In [25]:
movies_duration = movies.groupby('rating')['duration'].mean()
movies_duration.head()

rating
G         85.571429
NC-17    131.500000
NR        95.123762
PG        97.801105
PG-13    109.131206
Name: duration, dtype: float64

In [26]:
fig1 = px.bar(movies, x='rating', y='duration')
grafico_1 = dcc.Graph(figure=fig1)

In [27]:
app.layout = html.Div(children=[
    html.H1(children='Grafico 1'), 
    dcc.Graph(
        id='graf1',
        figure=fig1
    )                                                         
])

In [28]:
if __name__ == '__main__':
    app.run_server(debug=True)

Dash is running on http://127.0.0.1:8050/

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: on

OSError: ignored