<a href="https://colab.research.google.com/github/anferben/DataGalaxy/blob/main/app.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/netflix_titles.csv')

In [ ]:
df.columns

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')

In [ ]:
data_set = df[['show_id', 'type', 'country', 'date_added', 'duration', 'rating']]
print(data_set.shape)
data_set.head()

(6234, 6)

    show_id     type  ...  duration    rating
0  81145628    Movie  ...    90 min     TV-PG
1  80117401    Movie  ...    94 min     TV-MA
2  70234439  TV Show  ...  1 Season  TV-Y7-FV
3  80058654  TV Show  ...  1 Season     TV-Y7
4  80125979    Movie  ...    99 min     TV-14

[5 rows x 6 columns]

In [ ]:
movies = data_set[data_set['type']=='Movie'].dropna()
print(movies.shape)
movies.head()

(4066, 6)

    show_id   type  ... duration rating
0  81145628  Movie  ...   90 min  TV-PG
1  80117401  Movie  ...   94 min  TV-MA
4  80125979  Movie  ...   99 min  TV-14
6  70304989  Movie  ...  110 min      R
7  80164077  Movie  ...   60 min  TV-MA

[5 rows x 6 columns]

In [ ]:
print(movies['rating'].unique())
movies['rating'].value_counts()

['TV-PG' 'TV-MA' 'TV-14' 'R' 'NR' 'PG-13' 'PG' 'TV-Y7' 'TV-G' 'TV-Y' 'G'
 'UR' 'TV-Y7-FV' 'NC-17']

TV-MA       1278
TV-14        996
R            505
TV-PG        411
PG-13        282
NR           202
PG           181
TV-G          73
TV-Y7         49
G             35
TV-Y          25
TV-Y7-FV      20
UR             7
NC-17          2
Name: rating, dtype: int64

In [ ]:
length = movies['duration'].str.split(' ', expand=True)
length.head()

     0    1
0   90  min
1   94  min
4   99  min
6  110  min
7   60  min

In [ ]:
movies['duration'] = length[0]
print(movies.head())
print(movies.info())
movies.head()

    show_id   type  ... duration rating
0  81145628  Movie  ...       90  TV-PG
1  80117401  Movie  ...       94  TV-MA
4  80125979  Movie  ...       99  TV-14
6  70304989  Movie  ...      110      R
7  80164077  Movie  ...       60  TV-MA

[5 rows x 6 columns]
<class 'pandas.core.frame.DataFrame'>
Int64Index: 4066 entries, 0 to 5580
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   show_id     4066 non-null   int64
 1   type        4066 non-null   object
 2   country     4066 non-null   object
 3   date_added  4066 non-null   object
 4   duration    4066 non-null   object
 5   rating      4066 non-null   object
dtypes: int64(1), object(5)
memory usage: 222.4+ KB
None

    show_id   type  ... duration rating
0  81145628  Movie  ...       90  TV-PG
1  80117401  Movie  ...       94  TV-MA
4  80125979  Movie  ...       99  TV-14
6  70304989  Movie  ...      110      R
7  80164077  Movie  ...       60  TV-MA

[5 rows x 6 columns]

In [ ]:
movies['duration'] = movies['duration'].astype('int')
movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4066 entries, 0 to 5580
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   show_id     4066 non-null   int64
 1   type        4066 non-null   object
 2   country     4066 non-null   object
 3   date_added  4066 non-null   object
 4   duration    4066 non-null   int64
 5   rating      4066 non-null   object
dtypes: int64(2), object(4)
memory usage: 222.4+ KB

In [ ]:
movies.to_csv('movies.csv')

In [ ]:
%%sh
pip install -q dash
pip install -q dash_core_components
pip install -q dash_html_components
pip install -q dash_table

In [ ]:
%%sh
# get ngrok
curl -O https://bin.equinox.io/c/4VmDzA7iaHb/ngrok-stable-linux-amd64.zip
unzip ngrok-stable-linux-amd64.zip

Archive:  ngrok-stable-linux-amd64.zip

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 13.1M  100 13.1M    0     0  10.8M      0  0:00:01  0:00:01 --:--:-- 10.8M
replace ngrok? [y]es, [n]o, [A]ll, [N]one, [r]ename:  NULL
(EOF or read error, treating as "[N]one" ...)

In [ ]:
%%writefile dash_app.py

import os
import dash
import dash_core_components as dcc
import dash_html_components as html
import plotly.express as px
import pandas as pd

movies = pd.read_csv('movies.csv')

external_stylesheets = ['https://codepen.io/chriddyp/pen/bWLwgP.css']
app = dash.Dash(__name__, external_stylesheets=external_stylesheets)
server = app.server

fig1 = px.bar(movies, x='rating', y='duration')
grafico_1 = dcc.Graph(figure=fig1)

app.layout = html.Div(children=[
    html.H1(
    children='DataGalaxy',
    style={
        'textAlign': 'center'
    }),

    html.Div(children=
        'Duración de películas en Netflix, según su clasificación',
    style={
        'textAlign': 'center'
    }),

    dcc.Graph(
        id='example-graph',
        figure=fig
    )
])

if __name__ == '__main__':
    app.run_server(debug=True)

Overwriting dash_app.py

In [ ]:
# launch ngrok
get_ipython().system_raw('./ngrok http 8050 &')

In [ ]:
%%sh
# get url with ngrok
curl -s http://localhost:4040/api/tunnels | python3 -c "import sys, json; print(json.load(sys.stdin)['tunnels'][0]['public_url'])"

http://90dae9453cb1.ngrok.io

In [ ]:
!python dash_app.py

Dash is running on http://127.0.0.1:8050/

 * Serving Flask app "dash_app" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: on
Traceback (most recent call last):
  File "dash_app.py", line 27, in <module>
    app.run_server(debug=True)
  File "/usr/local/lib/python3.6/dist-packages/dash/dash.py", line 1716, in run_server
    self.server.run(host=host, port=port, debug=debug, **flask_run_options)
  File "/usr/local/lib/python3.6/dist-packages/flask/app.py", line 990, in run
    run_simple(host, port, self, **options)
  File "/usr/local/lib/python3.6/dist-packages/werkzeug/serving.py", line 1030, in run_simple
    s.bind(server_address)
OSError: [Errno 98] Address already in use