<a href="https://colab.research.google.com/github/anferben/DataGalaxy/blob/main/from_df_to_dict.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/anferben/DataGalaxy/main/worldcities.csv')
df.head()

      city city_ascii      lat  ...  capital  population          id
0    Tokyo      Tokyo  35.6897  ...  primary  37977000.0  1392685764
1  Jakarta    Jakarta  -6.2146  ...  primary  34540000.0  1360771077
2    Delhi      Delhi  28.6600  ...    admin  29617000.0  1356872604
3   Mumbai     Mumbai  18.9667  ...    admin  23355000.0  1356226629
4   Manila     Manila  14.5958  ...  primary  23088000.0  1608618140

[5 rows x 11 columns]

In [ ]:
df_location = df[['city', 'lat', 'lng']]
print(df_location.info())
df_location.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26568 entries, 0 to 26567
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   city    26568 non-null  object
 1   lat     26568 non-null  float64
 2   lng     26568 non-null  float64
dtypes: float64(2), object(1)
memory usage: 622.8+ KB
None

      city      lat       lng
0    Tokyo  35.6897  139.6922
1  Jakarta  -6.2146  106.8451
2    Delhi  28.6600   77.2300
3   Mumbai  18.9667   72.8333
4   Manila  14.5958  120.9772

In [ ]:
df_location['city'].unique()

array(['Tokyo', 'Jakarta', 'Delhi', ..., 'Cheremoshna', 'Ambarchik',
       'Nordvik'], dtype=object)

In [ ]:
dict = df_location.set_index('city').T.to_dict('list')
dict

In [ ]:
def location(pais):
  lat = dict[pais][0]
  lng = dict[pais][1]

  print(lat, lng)

In [ ]:
if __name__ == '__main__':
  location('San Jose')

10.18 125.5683