<a href="https://colab.research.google.com/github/anferben/DataGalaxy/blob/main/from_df_to_dict.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/anferben/DataGalaxy/main/worldcities.csv')
df.head()

      city city_ascii      lat  ...  capital  population          id
0    Tokyo      Tokyo  35.6897  ...  primary  37977000.0  1392685764
1  Jakarta    Jakarta  -6.2146  ...  primary  34540000.0  1360771077
2    Delhi      Delhi  28.6600  ...    admin  29617000.0  1356872604
3   Mumbai     Mumbai  18.9667  ...    admin  23355000.0  1356226629
4   Manila     Manila  14.5958  ...  primary  23088000.0  1608618140

[5 rows x 11 columns]

In [16]:
df_location = df[df['capital']=='primary']
df_location.head(20)

            city    city_ascii      lat  ...  capital  population          id
0          Tokyo         Tokyo  35.6897  ...  primary  37977000.0  1392685764
1        Jakarta       Jakarta  -6.2146  ...  primary  34540000.0  1360771077
4         Manila        Manila  14.5958  ...  primary  23088000.0  1608618140
7          Seoul         Seoul  37.5833  ...  primary  21794000.0  1410836482
8    Mexico City   Mexico City  19.4333  ...  primary  20996000.0  1484247881
10       Beijing       Beijing  39.9050  ...  primary  19433000.0  1156228865
11         Cairo         Cairo  30.0561  ...  primary  19372000.0  1818253931
14        Moscow        Moscow  55.7558  ...  primary  17125000.0  1643318494
15       Bangkok       Bangkok  13.7500  ...  primary  17066000.0  1764068610
16  Buenos Aires  Buenos Aires -34.5997  ...  primary  16157000.0  1032717330
18         Dhaka         Dhaka  23.7161  ...  primary  15443000.0  1050529279
24        Tehran        Tehran  35.7000  ...  primary  13633000.0  1364305026
25      Kinshasa      Kinshasa  -4.3317  ...  primary  13528000.0  1180000363
33         Paris         Paris  48.8566  ...  primary  11020000.0  1250015082
34        London        London  51.5072  ...  primary  10979000.0  1826645935
40          Lima          Lima -12.0500  ...  primary   9848000.0  1604728603
42        Bogotá        Bogota   4.6126  ...  primary   9464000.0  1170483426
51        Luanda        Luanda  -8.8383  ...  primary   8417000.0  1024949724
53  Kuala Lumpur  Kuala Lumpur   3.1478  ...  primary   8285000.0  1458988644
56         Hanoi         Hanoi  21.0245  ...  primary   7785000.0  1704413791

[20 rows x 11 columns]

In [17]:
df_location = df[['country', 'lat', 'lng']]
print(df_location.info())
df_location.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26568 entries, 0 to 26567
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   country  26568 non-null  object
 1   lat      26568 non-null  float64
 2   lng      26568 non-null  float64
dtypes: float64(2), object(1)
memory usage: 622.8+ KB
None

       country      lat       lng
0        Japan  35.6897  139.6922
1    Indonesia  -6.2146  106.8451
2        India  28.6600   77.2300
3        India  18.9667   72.8333
4  Philippines  14.5958  120.9772

In [ ]:
df_location['country'].unique()

In [19]:
dict = df_location.set_index('country').T.to_dict('list')
dict

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  """Entry point for launching an IPython kernel.

{'Afghanistan': [36.95, 65.1167],
 'Albania': [42.05, 19.9],
 'Algeria': [28.0503, 9.55],
 'American Samoa': [-14.274, -170.7046],
 'Andorra': [42.567, 1.5981],
 'Angola': [-18.0195, 21.43],
 'Antigua And Barbuda': [17.1211, -61.8447],
 'Argentina': [-49.9745, -68.9035],
 'Armenia': [41.1725, 44.9936],
 'Aruba': [12.5186, -70.0358],
 'Australia': [-31.1496, 136.8],
 'Austria': [47.4556, 15.3194],
 'Azerbaijan': [40.9053, 45.5564],
 'Bahamas, The': [26.4, -77.17],
 'Bahrain': [26.1736, 50.5478],
 'Bangladesh': [24.0004, 89.25],
 'Barbados': [13.0975, -59.6167],
 'Belarus': [52.0556, 27.2139],
 'Belgium': [49.7383, 5.3433],
 'Belize': [17.9214, -87.9611],
 'Benin': [8.0342, 2.4866],
 'Bermuda': [32.2942, -64.7839],
 'Bhutan': [27.9067, 89.7304],
 'Bolivia': [-13.683, -61.8666],
 'Bosnia And Herzegovina': [43.7135, 17.2266],
 'Botswana': [-18.2996, 21.8],
 'Brazil': [-9.6954, -65.3597],
 'Brunei': [4.6142, 114.3303],
 'Bulgaria': [42.75, 23.2],
 'Burkina Faso': [13.4364, 0.5304],
 'Burma': [16.1619, 94.7014],
 'Burundi': [-3.3333, 29.25],
 'Cabo Verde': [15.2833, -23.7667],
 'Cambodia': [13.507, 106.981],
 'Cameroon': [7.8504, 13.6],
 'Canada': [49.6186, -96.5708],
 'Cayman Islands': [19.2866, -81.3744],
 'Central African Republic': [5.617, 23.3167],
 'Chad': [20.45, 16.5167],
 'Chile': [-20.9829, -69.6833],
 'China': [29.5333, 94.4167],
 'Colombia': [2.0704, -74.64],
 'Comoros': [-11.3819, 43.3],
 'Congo (Brazzaville)': [1.6404, 14.58],
 'Congo (Kinshasa)': [1.0838, 27.2666],
 'Cook Islands': [-21.207, -159.771],
 'Costa Rica': [8.96, -83.5239],
 'Croatia': [45.2225, 19.3728],
 'Cuba': [19.9947, -75.16],
 'Curaçao': [12.1167, -68.9333],
 'Cyprus': [35.3403, 33.3192],
 'Czechia': [49.5298, 12.9441],
 'Côte D’Ivoire': [8.2833, -7.6833],
 'Denmark': [57.4337, 10.5333],
 'Djibouti': [11.5264, 42.8519],
 'Dominica': [15.3, -61.3833],
 'Dominican Republic': [18.717, -68.45],
 'Ecuador': [-2.8543, -77.9363],
 'Egypt': [23.946, 35.4842],
 'El Salvador': [13.7, -88.1],
 'Equatorial Guinea': [1.1164, 9.4186],
 'Eritrea': [15.11, 36.6575],
 'Estonia': [58.8094, 25.4292],
 'Ethiopia': [10.1664, 40.6453],
 'Falkland Islands (Islas Malvinas)': [-51.7, -57.85],
 'Faroe Islands': [62.0, -6.7833],
 'Fiji': [-18.15, 177.5],
 'Finland': [63.6833, 25.9833],
 'France': [47.5069, 6.9981],
 'French Guiana': [5.4804, -53.22],
 'French Polynesia': [-17.5334, -149.5667],
 'Gabon': [-0.3329, 10.3832],
 'Gambia, The': [13.4336, -14.65],
 'Georgia': [41.6167, 42.8667],
 'Germany': [48.9011, 11.9319],
 'Ghana': [9.4337, -0.0167],
 'Gibraltar': [36.1324, -5.3781],
 'Greece': [37.0667, 21.6333],
 'Greenland': [62.5333, -42.2167],
 'Grenada': [12.0444, -61.7417],
 'Guadeloupe': [16.2304, -61.44],
 'Guam': [13.4692, 144.7332],
 'Guatemala': [16.7804, -90.12],
 'Guinea': [10.185, -14.043],
 'Guinea-Bissau': [11.773, -15.195],
 'Guyana': [5.5333, -58.25],
 'Haiti': [18.85, -71.7833],
 'Honduras': [15.75, -84.4833],
 'Hong Kong': [22.305, 114.185],
 'Hungary': [48.0197, 21.3778],
 'Iceland': [64.5333, -21.9167],
 'India': [29.83, 78.68],
 'Indonesia': [4.217, 108.2],
 'Iran': [33.9042, 51.7686],
 'Iraq': [37.0922, 43.4878],
 'Ireland': [54.65, -8.117],
 'Isle Of Man': [54.15, -4.4819],
 'Israel': [32.9925, 35.6906],
 'Italy': [42.65, 12.4833],
 'Jamaica': [17.891, -76.329],
 'Japan': [40.34, 141.1519],
 'Jersey': [49.1833, -2.1167],
 'Jordan': [32.2843, 35.8092],
 'Kazakhstan': [44.9387, 74.0303],
 'Kenya': [-2.9828, 38.4666],
 'Kiribati': [1.3333, 173.0],
 'Korea, North': [40.6171, 125.4501],
 'Korea, South': [36.9353, 127.6897],
 'Kosovo': [42.296, 20.5162],
 'Kuwait': [29.0769, 48.0838],
 'Kyrgyzstan': [42.8167, 74.2333],
 'Laos': [19.3337, 103.3666],
 'Latvia': [56.875, 24.1194],
 'Lebanon': [34.2994, 35.8097],
 'Lesotho': [-28.8833, 27.9],
 'Liberia': [5.9161, -10.0525],
 'Libya': [28.5504, 17.5834],
 'Liechtenstein': [47.1182, 9.5444],
 'Lithuania': [55.1667, 26.0],
 'Luxembourg': [49.5069, 6.2806],
 'Macau': [22.203, 113.545],
 'Macedonia': [41.1792, 22.7247],
 'Madagascar': [-25.0219, 44.0749],
 'Malawi': [-16.55, 35.1332],
 'Malaysia': [4.184, 102.042],
 'Maldives': [5.7669, 73.4136],
 'Mali': [12.617, -11.4066],
 'Malta': [36.0556, 14.2036],
 'Marshall Islands': [7.1167, 171.3667],
 'Martinique': [14.6104, -61.08],
 'Mauritania': [25.2333, -11.5833],
 'Mauritius': [-19.9861, 57.6119],
 'Mayotte': [-12.7871, 45.275],
 'Mexico': [24.6333, -107.9167],
 'Micronesia, Federated States Of': [5.3261, 163.0083],
 'Moldova': [46.1547, 28.9656],
 'Monaco': [43.7396, 7.4069],
 'Mongolia': [48.9664, 96.7833],
 'Montenegro': [43.1528, 18.8394],
 'Morocco': [35.193, -3.912],
 'Mozambique': [-16.8921, 34.6559],
 'Namibia': [-24.84, 16.94],
 'Nepal': [29.25, 82.2167],
 'Netherlands': [17.6265, -63.2497],
 'New Caledonia': [-20.9, 167.2667],
 'New Zealand': [-43.385, 172.703],
 'Nicaragua': [10.9167, -83.7],
 'Niger': [21.015, 12.3075],
 'Nigeria': [5.7837, 7.0333],
 'Northern Mariana Islands': [15.2137, 145.7546],
 'Norway': [61.1833, 6.85],
 'Oman': [16.9924, 54.6918],
 'Pakistan': [35.9208, 74.3144],
 'Palau': [7.4874, 134.6265],
 'Panama': [7.519, -78.166],
 'Papua New Guinea': [-10.0426, 148.565],
 'Paraguay': [-22.64, -57.79],
 'Peru': [-2.5161, -75.7666],
 'Philippines': [8.5667, 124.5167],
 'Poland': [51.1333, 17.5333],
 'Portugal': [38.9532, -7.6757],
 'Puerto Rico': [18.001, -66.2603],
 'Qatar': [26.1293, 51.2009],
 'Reunion': [-21.0335, 55.7128],
 'Romania': [44.8772, 22.4175],
 'Russia': [74.0165, 111.51],
 'Rwanda': [-2.1608, 30.5442],
 'Saint Helena, Ascension, And Tristan Da Cunha': [-37.0675, -12.3105],
 'Saint Kitts And Nevis': [17.2983, -62.7342],
 'Saint Lucia': [14.081, -60.953],
 'Saint Vincent And The Grenadines': [13.1667, -61.2333],
 'Samoa': [-13.4489, -172.3352],
 'San Marino': [43.9261, 12.4981],
 'Sao Tome And Principe': [0.1342, 6.6494],
 'Saudi Arabia': [19.1264, 41.0789],
 'Senegal': [15.4833, -13.1667],
 'Serbia': [45.0472, 21.0161],
 'Seychelles': [-4.6236, 55.4544],
 'Sierra Leone': [8.4405, -10.85],
 'Singapore': [1.3, 103.8],
 'Slovakia': [48.7175, 17.115],
 'Slovenia': [46.3833, 14.4667],
 'Solomon Islands': [-11.5531, 160.0647],
 'Somalia': [10.5667, 51.1333],
 'South Africa': [-27.5667, 32.0833],
 'South Georgia And South Sandwich Islands': [-54.2806, -36.508],
 'South Sudan': [8.6004, 33.0666],
 'Spain': [39.4133, -7.2436],
 'Sri Lanka': [9.2833, 80.8],
 'Sudan': [19.6337, 30.4166],
 'Suriname': [5.02, -55.17],
 'Swaziland': [-25.961, 31.247],
 'Sweden': [55.6707, 13.141],
 'Switzerland': [47.1204, 9.4857],
 'Syria': [36.3858, 38.8472],
 'Taiwan': [23.8167, 120.6167],
 'Tajikistan': [36.7272, 71.6117],
 'Tanzania': [-4.4565, 30.2614],
 'Thailand': [15.898, 100.311],
 'Timor-Leste': [-8.5167, 127.0333],
 'Togo': [8.5667, 0.9833],
 'Tonga': [-18.6496, -173.9833],
 'Trinidad And Tobago': [10.65, -61.45],
 'Tunisia': [32.011, 10.7028],
 'Turkey': [36.4073, 30.4786],
 'Turkmenistan': [39.4362, 53.1226],
 'Turks And Caicos Islands': [21.4664, -71.136],
 'Tuvalu': [-8.5167, 179.2167],
 'Uganda': [1.7004, 32.0699],
 'Ukraine': [51.3894, 30.0989],
 'United Arab Emirates': [23.6522, 53.6536],
 'United Kingdom': [50.7949, -0.6197],
 'United States': [44.9505, -95.7153],
 'Uruguay': [-33.47, -55.12],
 'Uzbekistan': [41.8478, 60.93],
 'Vanuatu': [-13.8761, 167.5517],
 'Venezuela': [7.3504, -62.5333],
 'Vietnam': [21.74, 103.343],
 'Wallis And Futuna': [-14.2933, -178.1583],
 'West Bank': [31.7764, 35.2269],
 'Yemen': [15.2105, 51.2454],
 'Zambia': [-14.5495, 30.81],
 'Zimbabwe': [-17.5196, 30.97]}

In [20]:
def location(pais):
  lat = dict[pais][0]
  lng = dict[pais][1]

  print(lat, lng)

In [21]:
if __name__ == '__main__':
  location('Costa Rica')

8.96 -83.5239